/*--------------*\
*
*  BASE STYLES
*
\*--------------*/

* {
  box-sizing: border-box;
}

body {
  background: url('assets/back.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Alice', serif;
  color: #595959;
}


@media (max-width: 1024px) {
  body {
  background: url('assets/back.jpg') no-repeat right center fixed;
  background-size: cover;
  }
}





/*-----------*\
*
*    LAYOUT
*
\*-----------*/

.container {
  display: grid;
  width: 75vw;
  height: 100vh;
  margin: 0 auto;
  grid-template-columns: 100%;
  grid-template-rows: 20vh 1fr auto 1fr;
  grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}


@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
}



header {grid-area: header;}
nav {grid-area: nav;}
main {grid-area: main;}
footer {grid-area: footer;}





/*==== HEADER STYLES ====*/

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
  background-color: rgba(173, 199, 189, .7);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
 
}





/*==== MAIN STYLES ====*/

.phrase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 2rem;
}


.text {
  padding: .5rem;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



@media (min-width: 768px) {
  .phrase {
    flex-direction: row;
    justify-content: space-around;
  }
  
  .text {
    width: 50%;
  }
}




/* ==== List styles for PC ====*/

.list ul {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
}


.list li {
  padding: 1rem;
}



@media (min-width: 992px) {
  .list li {
    display: inline-block;
  }
}



@media (max-width: 768px) {
  .list {
    display: none;
  }
}



@media (min-width: 992px) {
  .mobile-list {
    display: none;
  }
}





/* ==== List styles for SMALL SCREEN ==== */

.mobile-list {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px; 
}

 
section {
  padding: .5rem;
}





/* ==== Dropdown box styles ==== */

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px; 
}



@media (min-width: 992px) {
  .dropdown {
    flex-direction: row;
    justify-content: space-around; 
  }
}



.hidden {
  display: none;
}





/*------------*\
*
*  TYPOGRAPHY
*
\*------------*/

h1 {
  color: #ffffff;
  font-size: 7vh;
  font-family: 'Clicker Script', cursive;
  line-height: 1.2;
  letter-spacing: .225rem;
}


span {
  color: #ffffff;
  font-size: 2.5vh;
  line-height: 1.1;
  letter-spacing: 0.125rem;
}


nav a {
  font-size: 3vh;
  letter-spacing: 0.12rem;
}


.little-prince {
  font-size: 3vh;
  text-align: justify;
  line-height: 1.2;
  letter-spacing: .05rem;
}


@media (min-width: 768px) {
  .little-prince {
    font-size: 2vh;
  }
}


@media (min-width: 1200px) {
  .little-prince {
    font-size: 2.6vh;
  }
}



small {
  font-size: 2vh;
  line-height: 1.1;
  letter-spacing: .05rem;
  margin-top: 2vh;
  text-transform: uppercase;
}


@media (min-width: 768px) {
  small {
    font-size: 1.5vh;
  }
}



/* Text decoration */

.highlight {
  color: #595959;
  font-family: 'Clicker Script', cursive;
  font-size: 4vh;
  font-weight: 900;
}


@media (min-width: 768px) {
  .highlight {
    font-size: 3vh;
  }
}


@media (min-width: 1200px) {
  .highlight {
    font-size: 3.5vh;
  }
}



section a {
  font-size: 3vh;
  line-height: 1.2;
  letter-spacing: .05rem;
}


section i {
  color: rgb(173, 199, 189);
}

/*----------*\
*
*   IMAGES
*
\*----------*/

.divider {
  width: 50%;
  height: 2vh;
  object-fit: cover;
  margin-top: 2vh;
}


@media (min-width: 768px) {
  .divider {
    width: auto;
  }
}



.sample {
  display: block;
  width: auto;
  height: 35vh;
  
}




.show {
  width: 90%;
  height: 20vh;
  object-fit: cover;
  margin-bottom: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}



@media (min-width: 992px) {
  .show {
    width: 30%;
    margin-bottom: 0;
  }
}





/*------------*\
*
*  COMPONENTS
*
\*------------*/

/* 1. Top Navigation */

nav ul {
  background-color: rgba(199, 191, 173, .7);
  text-align: center;
  border-radius: 10px;
}

nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #FAF3ED;
  font-size: 2vh;
}

nav a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: .6rem;
}


@media (min-width: 768px) {
  nav li {
    display: inline-block;
    border-bottom: none;
    width: 25%;
    
  }
  
  nav {
    font-size: 0;
  }
}